#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #2b3035;
}

.btn-edit:hover {
  color: white !important;
}

.add-review-card {
  background-color: #2b3035 !important;
  border: 0px;
}

.card-title-list {
  color: black !important;
}

.card-title-search-bar {
  color: white !important;
  font-size: 0.8em !important; 
}

.card-link {
  text-decoration: none;
}

.card-home-list-shows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.my-custom-off-canvas {
  height: 420px!important;
}
.review-home {
  background-color: #2b3035 !important;
}

.about-content {
  text-align: left;
}