#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #2b3035;
}

.btn-edit:hover {
  color: white !important;
}

.add-review-card {
  background-color: #2b3035 !important;
  border: 0px;
}